@import "../constants";

radio-button {
    display: inline-block;

    &.fill {
        width: 100%;
    }
}

.kiiri-radio-button {
    width: 100%;

    input[type=radio] {
        display: none;
    }

    input[type=radio] + label {
        cursor: pointer;
        font-weight: $default-font-weight;
        line-height: 20px;
        position: relative;

        &:before {
            border: 1px solid $light-grey;
            border-radius: 100%;
            content: "";
            display: inline-block;
            height: 20px;
            margin-right: 10px;
            vertical-align: middle;
            width: 20px;
        }

        height: 20px;
        display:inline-block;
        line-height: 20px;
        text-align: left;
        width: 100%;

        &:hover:before {
            border-color: $primary-theme;
        }
    }

    input[type=radio]:checked + label {
        &:before {
            background-color: $primary-theme;
            border-width: 0;
        }

        &:after {
            background-color: $background-white;
            border-radius: 100%;
            content: "";
            height: 8px;
            left: 6px;
            position: absolute;
            top: 7px;
            width: 8px;
        }
    }
}