
.kiiri-radio-button {
    input[type=radio] {
        display: none;
    }

    input[type=radio] + label {
       background: url("icons/radio-unchecked.png");
       background-size: 16px 16px;
       background-position: 0px 4px;
       background-repeat: no-repeat;
       height: 16px;
       display:inline-block;
       margin-left: 20px;
       padding-left: 20px;
       line-height: 16px;
       font-weight: normal;
       width: 145px;
       text-align: left;
    }

    input[type=radio]:checked + label {
        background: url("icons/radio-checked.png");
        background-size: 16px 16px;
        background-position: 0px 4px;
        height: 16px;
        background-repeat: no-repeat;
        display: inline-block;
    }
}