@import "../constants";

checkbox {
    display: inline-block;
}

.kiiri-checkbox {
    display: inline-block;

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox] + label {
        cursor: pointer;
        display:inline-block;
        font-weight: $default-font-weight;
        height: 20px;
        line-height: 20px;
        position: relative;
        text-align: left;
        width: 100%;

        icon {
            border: 1px solid $primary-grey;
            display: inline-block;
            height: 20px;
            margin-right: 5px;
            vertical-align: top;
            width: 20px;
        }

        &:hover {
            icon {
                border: 1px solid $primary-theme;
            }
        }
    }

    input[type=checkbox]:checked + label {
        icon {
            border: 1px solid $primary-theme;
        }
    }
}