@import "../constants";

checkbox {
    display: inline-block;
}

.kiiri-checkbox {
    display: inline-block;

    &.disabled {
        color: $primary-grey;

        input[type=checkbox] + label {
            &:hover {
                icon {
                    border-color: $primary-grey;
                }
            }
        }
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox] + label {
        cursor: pointer;
        display:inline-block;
        font-weight: $default-font-weight;
        height: 20px;
        line-height: 20px;
        position: relative;
        text-align: left;
        width: 100%;

        icon {
            border: 1px solid $primary-grey;
            display: inline-block;
            height: 20px;
            margin-right: 5px;
            vertical-align: top;
            width: 20px;
        }

        &:hover {
            icon {
                border: 1px solid $primary-theme;
            }
        }

        .switch-button {
            background-color: $background-grey;
            border: 1px solid $ruler-grey;
            border-radius: 10px;
            font-size: $default-font-size;
            height: 100%;
            line-height: 18px;
            transition: $transition-all;

            &:before {
                color: $primary-grey;
                content: "Off";
                display: inline-block;
                padding-left: 25px;
                padding-right: 10px;
            }

            &:after {
                background-color: $background-white;
                border-radius: 100%;
                content: " ";
                display: block;
                height: 18px;
                position: absolute;
                left: 1px;
                top: 1px;
                width: 18px;
            }
        }
    }

    input[type=checkbox]:checked + label {
        icon {
            border: 1px solid $primary-theme;
        }

        .switch-button {
            background-color: $primary-theme;
            border: 1px solid $primary-theme;

            &:before {
                color: $white-font-color;
                content: "On";
                padding-right: 25px;
                padding-left: 10px;
            }

            &:after {
                left: initial;
                right: 1px;
            }
        }
    }
}