@import "../constants";

.kiiri-checkbox {
    display: inline-block;

    input[type=checkbox] {
        display:none;
    }

    input[type=checkbox] + label {
       background: url('icons/checkbox.png');
       background-size: 20px 20px;
       background-position: 0px 0px;
       background-repeat: no-repeat;
       height: 20px;
       display:inline-block;
       padding-left: 29px;
       line-height: 20px;
       font-weight: normal;
       width: 100%;
       text-align: left;
       margin-left: 0px;
       color: $light-grey-sw-3;
    }

    input[type=checkbox]:checked + label {
        background: url('icons/checkbox-checked.png');
        background-size: 20px 20px;
        background-position: 0px 0px;
        height: 20px;
        background-repeat: no-repeat;
        display: inline-block;
        color: $dark-grey-sw-1;
    }

    input[type=checkbox]:disabled + label {
        background: image-url('icons/checkbox-disabled.png');
        background-size: 20px 20px;
        background-position: 0px 0px;
        background-repeat: no-repeat;
    }

    label {
        cursor: pointer;
        font-size: $main-font-size;
        line-height: 20px;
    }
}