
@import "../constants";

.kiiri-datepicker {
    position: relative;

    .kiiri-input-field img {
        top: 7.5px;
    }

    .kiiri-datepicker-container {
        position: absolute;
        top: 40px;
        z-index: 999;

        &.datepicker-left {
            left: 0;
        }

        &.datepicker-right {
            right: 0;
        }
    }

    .ui-datepicker {
        border: 2px solid $background-theme;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        margin-top: 5px;
        padding: 0 20px;
        width: auto;

        .ui-datepicker-header {
            background: $background-theme;
            border: none;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            height: 50px;
            line-height: 50px;
            margin: 0 -20px;

            .ui-datepicker-title {
                line-height: inherit;
                margin: 0;
            }

            .ui-datepicker-month {
                color: $default-font-color;
                font-size: 14px;
                font-weight: 700;
            }
            .ui-datepicker-year {
                display: none;
            }

            .ui-datepicker-next, .ui-datepicker-prev {
                background-image: url("icons/arrow-lnr-666.png");
                background-position: -9px center;
                background-repeat: no-repeat;
                background-size: 18px 14px;
                cursor: pointer;
                top: 19.5px;
                right: 30px;
                height: 14px;
                width: 9px;

                &.ui-datepicker-prev {
                    background-position: 0px center;
                    left: 30px;
                    right: auto;
                }
            }
        }

        .ui-datepicker-calendar {
            margin: 10px 0;

            th {
                color: $primary-grey;
                font-size: 14px;
                font-weight: 400;
                padding: 10px;
            }

            td {
                color: $default-font-color;
                font-size: 14px;
                font-weight: 400;

                .ui-state-default {
                    background: $white;
                    border: none;
                    padding: 10px;
                    text-align: center;

                    &.ui-state-active {
                        background: $primary-theme;
                        color: $button-font-color !important;
                        font-weight: 400;
                    }
                }

                .ui-priority-secondary {
                    color: $light-grey;
                }

                &.ui-datepicker-today .ui-state-default {
                    color: $primary-theme;
                    font-weight: 900;
                }
            }
        }
    }
}