
@import "../constants";
@import "../icons_base";

.kiiri-datepicker {
    line-height: $default-line-height;
    position: relative;

    .kiiri-input-field img {
        top: 7.5px;
    }

    .kiiri-input-field icon {
        left: 10px;
    }

    .kiiri-datepicker-container {
        position: absolute;
        top: 40px;
        z-index: 999;

        &.datepicker-left {
            left: 0;
        }

        &.datepicker-right {
            right: 0;
        }
    }

    .ui-datepicker {
        border: 2px solid $background-theme;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        margin-top: 5px;
        padding: 0 20px;
        width: auto;

        .ui-datepicker-header {
            background: $primary-theme;
            border: none;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            height: 50px;
            line-height: 50px;
            margin: 0 -20px;

            .ui-datepicker-title {
                line-height: inherit;
                margin: 0;
            }

            .ui-datepicker-month, .ui-datepicker-year {
                color: $white-font-color;
                font-family: $header-font;
                font-size: $default-font-size;
                font-weight: $default-font-weight;
            }

            .ui-datepicker-next, .ui-datepicker-prev {
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                display: inline-block;
                top: 12px;
                right: 30px;
                height: 30px;
                vertical-align: middle;
                width: 30px;

                &.ui-datepicker-next {
                    @include iconVariant("arrow-right", "icon-white");
                }

                &.ui-datepicker-prev {
                    @include iconVariant("arrow-left", "icon-white");
                    left: 30px;
                    right: auto;
                }

                &.ui-state-hover {
                    background-color: transparent;
                    border: none;
                }

                .ui-icon.ui-icon-circle-triangle-e {
                    background-image: none;
                }
            }
        }

        .ui-datepicker-calendar {
            margin: 10px 0;

            th {
                color: $primary-grey;
                font-size: 14px;
                font-weight: 400;
                padding: 10px;
            }

            td {
                color: $default-font-color;
                font-size: 14px;
                font-weight: 400;

                .ui-state-default {
                    background: $white;
                    border: none;
                    padding: 10px;
                    text-align: center;

                    &.ui-state-active {
                        background: $primary-theme;
                        border-radius: 100%;
                        color: $white-font-color !important;
                        font-weight: 400;
                    }
                }

                .ui-priority-secondary {
                    color: $light-grey;
                }

                &.ui-datepicker-today .ui-state-default {
                    color: $primary-theme;
                    font-weight: 900;
                }
            }
        }
    }
}