@import "../constants";

.kiiri-modal {
    .modal-background{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 900;
        background-color: #000000;
        opacity: .5;
    }

    .modal-frame {
        position: fixed;
        top: 10%;
        left: 50%;
        z-index: 1000;
        background-color: #F5F5F5;
        border: 1px solid #999999;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: .3em;
        outline: 0;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        background-clip: padding-box;
        visibility: hidden;

        &.not-visible {
            visibility: hidden;
        }

        &.visible {
            visibility: visible;
        }

        &.fade-in {
            -webkit-animation-name: slidein;
            -webkit-animation-duration: .5s;
            animation-name: slidein;
            animation-duration: .5s;

            @-webkit-keyframes slidein {
                0% { top: -25%; }
                100% { top: 10%; }
            }

            @keyframes slidein {
                0% { top: -25%;}
                100% { top: 10%; }
            }
        }

        &.fade-out {
            -webkit-animation-name: fadeout;
            -webkit-animation-duration: .2s;
            animation-name: fadeout;
            animation-duration: .2s;

            @-webkit-keyframes fadeout {
                0% { visibility: visible; opacity: 1; }
                100% { visibility: hidden; opacity: 0; }
            }

            @keyframes fadeout {
                0% { visibility: visible; opacity: 1; }
                100% { visibility: hidden; opacity: 0; }
            }
        }
    }

    .modal-body {
        position: relative;
        overflow-y: auto;
        background: #FFFFFF;
        border-radius: 6px;
        border-top: 5px solid $yellow-sw-2;
        padding: 0px;

        &.overflow-inherit {
            overflow: inherit;
        }

        .modal-title {
            margin: 0px 0px 40px 0px;
            font-size: 24px;
            font-weight: 300;
            color: $main-text-color;
            text-align: center;
            line-height: 24px;
        }

        .modal-small {
            width: 400px;
            padding: 40px;
        }

        .modal-normal {
            width: 500px;
            padding: 40px;
        }
    }
}