@import "../constants";
@import "../base.css.scss";

.kiiri-modal {
    .modal-background{
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 900;
        background-color: #000000;
        opacity: .5;

        .modal-close-cross {
            position: absolute;
            top: 75px;
            right: 75px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            &::before {
                background: $primary-background;
                content: ' ';
                height: 42.42px;
                position: absolute;
                top: -7px;
                transform: rotate(45deg);
                right: 13px;
                width: 2px;
            }

            &:after {
                background: $primary-background;
                content: ' ';
                height: 2px;
                left: -5px;
                position: absolute;
                top: 13px;
                transform: rotate(225deg);
                width: 42.42px;
            }
        }
    }

    .modal-frame {
        position: fixed;
        left: 50%;
        z-index: 1000;
        background-color: #F5F5F5;
        border: 1px solid #999999;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 6px;
        outline: 0;
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
        background-clip: padding-box;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 85%;
        transition: top .4s ease-out;

        &.kiiri-scrollbar-wrapper {
            padding-right: 0px;

            .mCSB_inside>.mCSB_container {
                margin-right: 0px;
            }
        }

        &.not-visible {
            top: -200%;
        }

        &.visible {
            top: 10%;
        }
    }

    .modal-body {
        position: relative;
        overflow-y: auto;
        background: #FFFFFF;
        border-radius: 6px;
        padding: 8px 0 0;
        min-width: 400px;

        &:before {
            @extend .default-gradient;
            content: " ";
            height: 8px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &.overflow-inherit {
            overflow: inherit;
        }

        .modal-title {
            margin: 0px 0px 40px 0px;
            font-size: 24px;
            font-weight: 300;
            color: $main-text-color;
            text-align: center;
            line-height: 24px;

            &.bold {
                color: $main-text-color;
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                margin-bottom: 10px;
                text-align: left;
            }

            &.sub {
                font-size: 14px;
                font-weight: 700;
                line-height: 14px;
                margin-bottom: 0;
                text-align: left;
            }
        }

        .modal-small {
            width: 400px;
            padding: 40px;
        }

        .modal-normal {
            width: 500px;
            padding: 40px;
        }

        .modal-padding {
            padding: 40px;
        }
    }
}