@import "../constants";

menu {
    display: block;
    padding-left: 0;
    position: absolute;
    z-index: 999;

    .kiiri-menu {
        box-shadow: $default-box-shadow;
    }

    .kiiri-menu-item {
        background: $background-white;
        color: $default-font-color;
        cursor: pointer;
        font-family: $default-font-family;
        font-size: $default-font-size;
        font-weight: $default-font-weight;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;

        &:hover {
            background: $background-theme;
            color: $primary-theme;
        }

        &.selected {
            color: $primary-theme;
        }

        icon.check {
            float: right;
            position: relative;
            top: 5px;
        }

        &.disabled {
            color: $disabled-theme;
            cursor: not-allowed;
        }
    }
}