
@import "../constants";

.kiiri-fill-bar {
    display: inline-block;

    .kiiri-fill-bar-wrapper {
        display: inline-block;
        height: 14px;
        position: relative;
        width: 160px;

        .kiiri-grey-fill, .kiiri-yellow-fill {
            display: inline-block;
            height: 10px;
            left: 0;
            position: absolute;
            top: 5px;
            width: 100%;
        }

        .kiiri-grey-fill {
            background-color: $background-theme;
        }

        .kiiri-yellow-fill {
            background-color: $primary-theme;
        }
    }

    .kiiri-fill-bar-label {
        color: $dark-grey;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        text-align: right;
        vertical-align: middle;
        width: 160px;
    }
}