@import "../constants";

input-field {
    display: inline-block;

    &.fill {
        width: 100%;

        .kiiri-input-field {
            width: 100%;
        }
    }
}

.kiiri-input-field {
    display: inline-block;
    position: relative;

    img {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10px;
        left: 15px;
    }

    &.fill {
        width: 100%;
    }

    &.large {
        input {
            height: 50px;
            line-height: 50px;
        }
    }

    input {
        border-radius: 4px;
        background: $background-theme;
        border: none;
        color: $default-font-color;
        font-size: $default-font-size;
        font-family: $default-font-family;
        height: 40px;
        line-height: 40px;
        letter-spacing: $default-letter-spacing;
        padding: 0 20px;
        outline: 0;
        transition: $transition-all;
        vertical-align: top;
        width: 100%;

        &[type='white'] {
            background: $background-white;

            &:disabled {
                background: $background-white;
            }
        }

        &[type='underline'] {
            background: transparent;
            border-bottom: 1px solid transparent;
            border-radius: 0;
            padding: 0 15px 0 5px;

            &:disabled {
                background: transparent;

                &:hover {
                    border-color: transparent;
                }
            }

            &:hover {
                border-color: $light-grey;
            }

            &:focus {
                border-color: $primary-theme;
            }

            &.invalid {
                background: transparent;
                border: none;
                border-bottom: 1px solid $primary-red;
            }
        }

        &.has-icon {
            padding-left: 45px;
        }

        &:focus {
            &::-webkit-input-placeholder { /* WebKit browsers */
                color: $primary-grey;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: $primary-grey;
                opacity: 1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: $primary-grey;
                opacity: 1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: $primary-grey;
            }
        }

        &::-webkit-input-placeholder { /* WebKit browsers */
            color: $default-font-color;
            transition: $transition-all;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $default-font-color;
            opacity: 1;
            transition: $transition-all;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $default-font-color;
            opacity: 1;
            transition: $transition-all;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $default-font-color;
            transition: $transition-all;
        }

        &:disabled {
            color: $light-grey;
            cursor: not-allowed;
            background: $background-grey;

            &::-webkit-input-placeholder { /* WebKit browsers */
                color: $light-grey;
                transition: $transition-all;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: $light-grey;
                opacity: 1;
                transition: $transition-all;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: $light-grey;
                opacity: 1;
                transition: $transition-all;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: $light-grey;
                transition: $transition-all;
            }
        }

        &.invalid {
            background: $background-red;
            border: 1px solid $primary-red;
            color: $primary-red;
            line-height: 38px;
        }
    }
}