@import "../constants";

.kiiri-switch-button {
    border-radius: 4px;
    background: $background-theme;
    display: inline-block;
    position: relative;
    vertical-align: top;

    &.fill {
        width: 100%;

        .kiiri-switch-item {
            width: 50%;
        }

        .kiiri-switch-slider {
            width: 100%;
        }
    }

    .kiiri-switch-item, .kiiri-switch-slider {
        color: $light-grey;
        cursor: pointer;
        float: left;
        font-size: $default-font-size;
        font-weight: $default-font-weight;
        height: 40px;
        line-height: 40px;
        min-width: 70px;
        padding: 0px 15px;
        position: relative;
        text-align: center;

        span {
            position: relative;
            z-index: 1;
        }

        &.selected {
            color: $button-font-color;
        }

        &.left-switch {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &.right-switch {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    .kiiri-switch-slider {
        background: $primary-theme;
        position: absolute;
        transition: left .2s ease-out;
        top: 0;
        left: 0;
        right: inherit;
        z-index: 0;

        &.right-switch {
            left: 100%;
        }
    }
}