@import "../constants";

.kiiri-text-area {
    display: inline-block;
    position: relative;

    &.fill {
        width: 100%;
    }

    .textarea-max-length {
        bottom: 10px;
        color: $light-grey;
        font-size: 14px;
        position: absolute;
        right: 10px;
    }

    textarea {
        border-radius: 4px;
        background: $background-theme;
        border: none;
        color: $default-font-color;
        font-family: $default-font-family;
        font-size: $default-font-size;
        vertical-align: top;
        outline: 0;
        padding: 20px 20px 35px;
        letter-spacing: $default-letter-spacing;
        resize: none;
        width: 100%;

        &:focus {
            &::-webkit-input-placeholder { /* WebKit browsers */
                color: $primary-grey;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: $primary-grey;
                opacity: 1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: $primary-grey;
                opacity: 1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: $primary-grey;
            }
        }

        &::-webkit-input-placeholder { /* WebKit browsers */
            color: $default-font-color;
            transition: $transition-all;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $default-font-color;
            opacity: 1;
            transition: $transition-all;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $default-font-color;
            opacity: 1;
            transition: $transition-all;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $default-font-color;
            transition: $transition-all;
        }

        &.invalid {
            border: 1px solid $primary-red;
            background: $background-red;
            color: $primary-red;
            padding: 19px 20px 34px;
        }
    }
}