
@import "../constants";

.kiiri-timepicker {
    position: relative;
    width: 380px;
    height: 40px;
    line-height: 40px;

    .kiiri-timepicker-start-time, .kiiri-timepicker-end-time {
        position: absolute;
        display: inline-block;
        top: 0;
        border-radius: 6px;
        height: 40px;
        width: 40px;
        border: 2px solid $primary-theme;
        background: $background-white;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        white-space: pre-line;
        z-index: 1;
    }

    .kiiri-timepicker-bar {
        display: inline-block;
        position: relative;
        height: 10px;
        width: 380px;
        z-index: 0;
        background-color: $background-theme;
    }

    .kiiri-timepicker-colored-bar-wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        .kiiri-timepicker-colored-bar {
            position: relative;
            display: inline-block;
            height: 10px;
            background-color: $primary-theme;
        }
    }
}