@import "../constants";

angular-button {
    display: inline-block;

    &.fill {
        width: 100%;
    }
}

.kiiri-button {
    background: $primary-theme;
    border-radius: 4px;
    color: $button-font-color;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: none;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    text-align: center;
    transition: $transition-all;
    vertical-align: top;
    width: 100%;

    &.small {
        height: 32px;
        line-height: 32px;
    }

    &.large {
        height: 50px;
        line-height: 50px;
        padding: 0 40px;
    }

    &.xlarge {
        height: 60px;
        line-height: 60px;
        padding: 0 40px;
    }

    &.round, &.round.sliding:before, &.round.hollow:before {
        border-radius: 30px;
    }

    &.sliding, &.hollow {
        &:before {
            background: -webkit-linear-gradient(left, #6A9EEB  ,#00E2E2 60%);
            background: linear-gradient(to right, #6A9EEB  ,#00E2E2 60%);
            content: ' ';
            height: 100%;
            left: 0;
            position: absolute;
            opacity: 0;
            top: 0;
            transition: width 500ms cubic-bezier(.09,.38,.35,.69), opacity 500ms cubic-bezier(.09,.38,.35,.69);
            width: 0;
        }

        &:hover {
            background: $primary-theme;

            &:before {
                opacity: .75;
                width: 100%;
            }
        }
    }

    &.hollow, &.border {
        background: transparent;
        border: 2px solid $primary-theme;
        color: $primary-theme;
        line-height: 36px;
        transition: color 500ms cubic-bezier(.09,.38,.35,.69);

        &.small {
            line-height: 28px;
        }

        &.large {
            line-height: 46px;
        }

        &.xlarge {
            line-height: 56px;
        }


        &:before {
            background: $primary-theme;
            display: block;
            opacity: 1;
            text-align: center;
            transition: width 500ms cubic-bezier(.09,.38,.35,.69);
        }

        &:hover {
            background: transparent;
            color: $button-font-color;

            &:before {
                opacity: 1;
            }
        }
    }

    &.border {
        color: $primary-theme;
        transition: $transition-all;

        &:before {
            display: none;
        }

        &:hover {
            color: $primary-theme;
        }
    }

    span {
        position: relative;
        z-index: 1;
    }

    a, a:hover {
        text-decoration: none;
        color: $main-text-color;
        font-weight: $light-text-weight;
    }

    &.fill {
        width: 100%;
    }

    &:hover {
        background: $dark-theme;
    }

    &.disabled, &.disabled:hover {
        background: $disabled-theme;
        cursor: not-allowed;
    }

    &.loading, &.loading:hover {
        cursor: wait;
        background: $disabled-theme;

        .fa-refresh {
            margin-left: 5px;
        }
    }

    &.grey {
        background: $ruler-grey;
        color: $primary-theme;

        &:hover:not(.disabled, .loading) {
            background: $input-focus-background;
        }

        &.disabled {
            color: $light-grey-sw-3;
        }
    }

    &.white {
        background: $background-white;
        border: 2px solid $primary-theme;
        color: $primary-theme;
    }

    &.red {
        background: $primary-red;
        border: 2px solid $primary-red;
        color: $white-font-color;
    }

    &.text {
        background: transparent;
        color: $default-font-color;

        &:hover:not(.disabled) {
            background: transparent;
            color: $primary-theme;
        }

        &.disabled {
            background: transparent;
            color: $light-grey;
        }

        &.minor {
            color: $primary-grey;
            font-size: $caption-font-size;
            height: auto;
            line-height: $default-line-height;
            vertical-align: middle;
        }
    }
}