// Backgrounds
$background-theme: #F5F9F9;
//$background-blue:
$background-grey: #F5F5F5;
$background-red: #FFEAEA;
$background-white: #FFFFFF;
$background-black: #000000;
$background-navigation: #303747;

// Main Theme
$primary-theme: #00E2E2;
$light-theme: #59E7E7;
$dark-theme: #00D0D0;
$disabled-theme: #AAF6F6;
$primary-theme-opposite: #E20000;

// Blue
$primary-blue: #4174E9;
$light-blue: #6A9EEB;
$dark-blue: #1C58E1;

// Red
$primary-red: #FF3232;
$light-red: #FF9797;
// $dark-red:

// Grey
$primary-grey: #BBBBBB;
$light-grey: #CCCCCC;
$dark-grey: #999999;
$ruler-grey: #ECECEC;

// Font
$main-font:                     'Quattrocento Sans', sans-serif;
$header-font:                   'Montserrat', sans-serif;
$button-font-color:             #FFFFFF;
$button-font-color-opposite:    #000000;
$default-font-color:            #777777;
$default-font-family:           $main-font;
$default-font-size:             14px;
$default-font-weight:           400;
$default-line-height:           1.5;
$default-letter-spacing:        .05em;

// Default Transitions
$transition-all:            all 150ms ease-in-out;
$transition-cubic:          all 500ms cubic-bezier(.09,.38,.35,.69);

// Breakpoints
$tablet:                768px;
$small-screen-size:     400px;

$white-text:    #FFFFFF;
$grey:          #CCCCCC;
$dark-grey:     #666666;
$white:         #FFFFFF;
$error-color:   #FDDFDF;

$primary-background:    #FFFFFF;
$secondary-background:  #F5F5F5;
$tertiary-background:   #313131;
$input-focus-background:#FAF7DB;
$error-background:      #FDDFDF;
$disabled:              #FFF38D;



$main-text-color:       #777777;
$main-font-size:        14px;
$black-text-color:      #444444;
$footer-text-color:     #BBBBBB;

$light-yellow:          #FFF8BF;

$heavy-text-weight:     900;
$medium-text-weight:    700;
$light-text-weight:     400;

$dark-yellow-sw-1:      #D1C344;
$dark-yellow-sw-2:      #BEB13E;
$dark-yellow-sw-3:      #B1A328;

$yellow-sw-1:           #FFE739;
$yellow-sw-2:           #FFDE00;
$yellow-sw-3:           #EFD000;

$dark-grey-sw-1:        #999999;
$dark-grey-sw-2:        #777777;
$dark-grey-sw-3:        #666666;
$dark-grey-sw-4:        #444444;

$light-grey-sw-1:       #ECECEC;
$light-grey-sw-2:       #CCCCCC;
$light-grey-sw-3:       #BBBBBB;

$light-blue-sw-1:       #3AB6D1;
$light-blue-sw-2:       #3199B0;
$light-blue-sw-3:       #298194;

$blue-sw-1:             #92E9FB;
$blue-sw-2:             #76D9ED;
$blue-sw-3:             #51CEE7;

// Breakpoints
$tablet:                768px;

@mixin left-arrow($size, $color, $top-offset, $border-width:"", $border-color:"") {
    position: relative;

    &::after {
        position: absolute;
        content: " ";
        width: 0px;
        height: 0px;
        top: $top-offset;
        left: -$size;
        border-right: $size solid $color;
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
    }

    @if $border-width != "" {
        &::before {
            position: absolute;
            content: " ";
            width: 0px;
            height: 0px;
            top: $top-offset - (2 * $border-width);
            left: -($size + (2 * $border-width));
            border-right: ($size + (2 * $border-width)) solid $border-color;
            border-top: ($size + (2 * $border-width)) solid transparent;
            border-bottom: ($size + (2 * $border-width)) solid transparent;
        }
    }
}

@mixin top-arrow($size, $color, $left-offset, $border-width:"", $border-color:"") {
    position: relative;

    &::after {
        position: absolute;
        content: " ";
        width: 0px;
        height: 0px;
        top: -$size;
        left: $left-offset;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        border-left: $size solid transparent;
    }

    @if $border-width != "" {
        &::before {
            position: absolute;
            content: " ";
            width: 0px;
            height: 0px;
            top: -($size + (2 * $border-width));
            left: $left-offset - (2 * $border-width);
            border-right: ($size + (2* $border-width)) solid transparent;
            border-bottom: ($size + (2 * $border-width)) solid $border-color;
            border-left: ($size + (2 * $border-width)) solid transparent;
        }
    }
}

@mixin bottom-arrow($size, $color, $left-offset, $border-width:"", $border-color:"") {
    position: relative;

    &::after {
        position: absolute;
        content: " ";
        width: 0px;
        height: 0px;
        bottom: -$size;
        left: $left-offset;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        border-left: $size solid transparent;
    }

    @if $border-width != "" {
        &::before {
            position: absolute;
            content: " ";
            width: 0px;
            height: 0px;
            bottom: -($size + (2 * $border-width));
            left: $left-offset - (2 * $border-width);
            border-right: ($size + (2* $border-width)) solid transparent;
            border-top: ($size + (2 * $border-width)) solid $border-color;
            border-left: ($size + (2 * $border-width)) solid transparent;
        }
    }
}