
@import "constants";
@import "icons_base";

icon {
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 30px;

    &.small {
        background-size: 20px;
        height: 20px;
        width: 20px;
    }

    &.medium {
        background-size: 36px;
        height: 36px;
        width: 36px;
    }

    &.large {
        background-size: 45px;
        height: 45px;
        width: 45px;
    }

    &.xlarge {
        background-size: 60px;
        height: 60px;
        width: 60px;
    }

    @each $icon, $svg in $icons {
        &.#{$icon} {
            @include iconVariants($icon)
        }
    }

    &.spin {
        -webkit-animation: spin 1.5s infinite linear;
        animation: spin 1.5s infinite linear;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
      }
    }
    @keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
      }
    }
}